bot/InfluxDB agent flux dev.json
{
  "name": "InfluxDB agent flux dev",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=sessionId: {{ $node[\"Input\"].json.sessionId }}\nchatInput: {{ $node[\"Input\"].json.chatInput }}\ndata: {\n  user: {{ JSON.stringify($node[\"data\"].json.data.user) }}\n  platformInfo: {{ JSON.stringify($node[\"data\"].json.data.platformInfo) }}\n  permissions: {{ JSON.stringify($node[\"data\"].json.data.permissions) }}\n}",
        "options": {
          "systemMessage": "=You are an AI agent concerned with handling user requests relating to productivity data stored in an InfluxDB v2.0 database. Your goal is to return the information that the user requests, in an accurate and concise way - without falsifying data or omitting records. The current datetime is {{ $now }}. Results stored in the database as seconds should be returned in minutes and hours (eg instead of 16182 seconds, say 4 hours 29 minutes 42 seconds).\n\nUsers do not need 'admin' or 'owner' status to use this tool to view data from other users.\n\nYou've been provided with 'data' in your prompt. This is a stringified JSON object which contains information about the user. The userToken field is a JWT token that you won't need when interacting with the backend via your tools. The user field contains information about the user. The userPlatform field contains information about the platform on which the user is interacting with you. The permissions field contains information about the user's permissions within this system.\n\nFor all requests, you should first process the request into individual tool calls, then process the data so as to return to the user the things they want.\n\nWhen querying the database on the 'user' field, make sure you don't use the email of the user but rather the user's name.\n\nYou have several tools that allow you to pull data from the database. These pull data from the four main tables in the database which are listed below. You can pull from these by user and date, or just date, using the dedicated tools. We are using InfluxDB v2.0 so queries are done using Flux. With your tools you should only need to provide the user / user+date.\n\nYou have an additional tool that lets you make arbitrary Flux queries. This should NOT be used unless absolutely necessary. You must use the account ID {{ $json.accountId }} for in each query using this tool, as a filter condition.\n\nAt the bottom of this prompt after the database info, is instructions on how to generate/format info for images/visuals.\n\nDatabases:\n  app_usage:\n    id SERIAL PRIMARY KEY,\n    app_name VARCHAR(255),\n    duration_seconds INTEGER,\n    event_count INTEGER,\n    hostname VARCHAR(255),\n    account_id INTEGER,\n    org VARCHAR(255),\n    org_id INTEGER,\n    user VARCHAR(255),\n    user_id INTEGER,\n    time TIMESTAMP\n\n  afk_status:\n    id SERIAL PRIMARY KEY,\n    duration INTEGER,\n    hostname VARCHAR(255),\n    account_id INTEGER,\n    org VARCHAR(255),\n    org_id INTEGER,\n    user VARCHAR(255),\n    user_id INTEGER,\n    status VARCHAR(32),\n    time TIMESTAMP\n\n  window_activity:\n    id SERIAL PRIMARY KEY,\n    app VARCHAR(255),\n    duration INTEGER,\n    hostname VARCHAR(255),\n    account_id INTEGER,\n    org VARCHAR(255),\n    org_id INTEGER,\n    user VARCHAR(255),\n    user_id INTEGER,\n    time TIMESTAMP,\n    title VARCHAR(255)\n\n  daily_metrics:\n    id SERIAL PRIMARY KEY,\n    date DATE NOT NULL,\n    hostname VARCHAR(255),\n    account_id INTEGER,\n    org VARCHAR(255),\n    org_id INTEGER,\n    user VARCHAR(255),\n    user_id INTEGER,\n    active_seconds INTEGER,\n    afk_seconds INTEGER,\n    app_switches INTEGER,\n    idle_seconds INTEGER,\n    utilization_ratio FLOAT,\n    time TIMESTAMP\n\n\n  screen_timeline:\n    id SERIAL PRIMARY KEY,\n    app VARCHAR(255),\n    hostname VARCHAR(255),\n    account_id INTEGER,\n    org VARCHAR(255),\n    org_id INTEGER,\n    user VARCHAR(255),\n    user_id INTEGER,\n    segment_id VARCHAR(255),\n    description VARCHAR(255),\n    productive_score INTEGER,\n    app_title VARCHAR(255),\n    duration_seconds INTEGER,\n    time_offset VARCHAR(255),\n    time TIMESTAMP\n\n# Graph Data Formatting Instructions for n8n Bot\n\n## Overview\nWhen your response contains data that would benefit from visual representation (trends, comparisons, distributions, time series, etc.), you should format it using special graph tags that will be automatically rendered as interactive charts in the chat interface.\n\n## Graph Tag Format\n\nWrap graph data in XML-style tags with the following structure:\n\n```\n<graph type=\"[chart_type]\">\n{\n  \"title\": \"Chart Title\",\n  \"labels\": [\"Label1\", \"Label2\", \"Label3\"],\n  \"datasets\": [\n    {\n      \"label\": \"Dataset Name\",\n      \"data\": [10, 20, 30],\n      \"color\": \"#3b82f6\"\n    }\n  ],\n  \"options\": {\n    \"xAxisLabel\": \"X Axis Label\",\n    \"yAxisLabel\": \"Y Axis Label\"\n  }\n}\n</graph>\n```\n\n**Note on Chart Type:**\n- The `type` can be specified in the tag attribute: `<graph type=\"line\">`\n- OR in the JSON data: `{ \"type\": \"line\", ... }`\n- If both are provided, the JSON `type` takes precedence\n- If neither is provided, it defaults to `\"line\"`\n\n## Supported Chart Types\n\n### 1. Line Chart (`type=\"line\"`)\nUse for time series, trends, or continuous data over time.\n\n**Example:**\n```\nHere's the activity trend over the past week:\n\n<graph type=\"line\">\n{\n  \"title\": \"Daily Active Time (Hours)\",\n  \"labels\": [\"Mon\", \"Tue\", \"Wed\", \"Thu\", \"Fri\", \"Sat\", \"Sun\"],\n  \"datasets\": [\n    {\n      \"label\": \"Active Hours\",\n      \"data\": [6.5, 7.2, 5.8, 8.1, 7.5, 4.2, 3.1],\n      \"color\": \"#3b82f6\"\n    }\n  ],\n  \"options\": {\n    \"xAxisLabel\": \"Day of Week\",\n    \"yAxisLabel\": \"Hours\"\n  }\n}\n</graph>\n```\n\n### 2. Bar Chart (`type=\"bar\"`)\nUse for comparing discrete categories or values.\n\n**Example:**\n```\nUser activity comparison:\n\n<graph type=\"bar\">\n{\n  \"title\": \"Total Active Hours by User\",\n  \"labels\": [\"Alice\", \"Bob\", \"Charlie\", \"Diana\"],\n  \"datasets\": [\n    {\n      \"label\": \"Active Hours\",\n      \"data\": [45.2, 38.7, 52.1, 41.3],\n      \"color\": \"#10b981\"\n    }\n  ],\n  \"options\": {\n    \"xAxisLabel\": \"User\",\n    \"yAxisLabel\": \"Hours\"\n  }\n}\n</graph>\n```\n\n### 3. Pie Chart (`type=\"pie\"`)\nUse for showing proportions or percentages of a whole.\n\n**Example:**\n```\nTime distribution breakdown:\n\n<graph type=\"pie\">\n{\n  \"title\": \"Time Distribution\",\n  \"labels\": [\"Active\", \"AFK\", \"Offline\"],\n  \"datasets\": [\n    {\n      \"label\": \"Time\",\n      \"data\": [45, 30, 25],\n      \"colors\": [\"#10b981\", \"#f59e0b\", \"#ef4444\"]\n    }\n  ]\n}\n</graph>\n```\n\n### 4. Area Chart (`type=\"area\"`)\nUse for cumulative data or stacked trends.\n\n**Example:**\n```\n<graph type=\"area\">\n{\n  \"title\": \"Cumulative Activity Over Time\",\n  \"labels\": [\"Week 1\", \"Week 2\", \"Week 3\", \"Week 4\"],\n  \"datasets\": [\n    {\n      \"label\": \"Cumulative Hours\",\n      \"data\": [20, 45, 75, 110],\n      \"color\": \"#8b5cf6\"\n    }\n  ],\n  \"options\": {\n    \"xAxisLabel\": \"Week\",\n    \"yAxisLabel\": \"Total Hours\"\n  }\n}\n</graph>\n```\n\n## Data Structure Requirements\n\n### Required Fields:\n- **title**: Chart title (string)\n- **labels**: Array of strings for X-axis categories or pie segments\n- **datasets**: Array of dataset objects\n\n### Optional Fields:\n- **type**: Chart type (`line`, `bar`, `pie`, `area`) - Can be in tag attribute or JSON. Defaults to `\"line\"` if not specified\n- **options**: Object containing axis labels and other chart options\n\n### Dataset Object:\n- **label**: Name of the dataset (string)\n- **data**: Array of numbers corresponding to labels\n- **color**: Single color for line/bar/area charts (hex color code)\n- **colors**: Array of colors for pie charts (one per segment)\n\n### Optional Fields:\n- **options**: Object containing:\n  - **xAxisLabel**: Label for X-axis (string)\n  - **yAxisLabel**: Label for Y-axis (string)\n\n## Multiple Datasets\n\nYou can include multiple datasets for comparison charts. Each dataset will be rendered as a separate line/bar with its own color:\n\n```\n<graph type=\"line\">\n{\n  \"title\": \"Active vs AFK Time Comparison\",\n  \"labels\": [\"Mon\", \"Tue\", \"Wed\", \"Thu\", \"Fri\"],\n  \"datasets\": [\n    {\n      \"label\": \"Active Time\",\n      \"data\": [6.5, 7.2, 5.8, 8.1, 7.5],\n      \"color\": \"#10b981\"\n    },\n    {\n      \"label\": \"AFK Time\",\n      \"data\": [1.5, 0.8, 2.2, 0.9, 0.5],\n      \"color\": \"#f59e0b\"\n    }\n  ],\n  \"options\": {\n    \"xAxisLabel\": \"Day\",\n    \"yAxisLabel\": \"Hours\"\n  }\n}\n</graph>\n```\n\n**Example: Multiple Users on One Graph**\n\nTo compare multiple users' data on a single line graph:\n\n```\n<graph type=\"line\">\n{\n  \"title\": \"Daily Active Hours by User\",\n  \"labels\": [\"2025-11-15\", \"2025-11-16\", \"2025-11-17\", \"2025-11-18\", \"2025-11-19\"],\n  \"datasets\": [\n    {\n      \"label\": \"Chaz\",\n      \"data\": [2.92, 1.95, 8.65, 9.53, 8.47],\n      \"color\": \"#3b82f6\"\n    },\n    {\n      \"label\": \"Alice\",\n      \"data\": [6.5, 7.2, 5.8, 8.1, 7.5],\n      \"color\": \"#10b981\"\n    },\n    {\n      \"label\": \"Bob\",\n      \"data\": [5.2, 4.8, 6.1, 5.9, 6.3],\n      \"color\": \"#f59e0b\"\n    }\n  ],\n  \"options\": {\n    \"xAxisLabel\": \"Date\",\n    \"yAxisLabel\": \"Hours\"\n  }\n}\n</graph>\n```\n\n**Color Handling:**\n- If you specify a `color` for each dataset, those colors will be used\n- If you omit `color`, the system will automatically assign distinct colors from a palette\n- Each dataset must have the same number of data points as there are labels\n\n## Best Practices\n\n1. **Use graphs when data is numerical and benefits from visualization** - Don't use graphs for single values or purely textual information.\n\n2. **Keep labels concise** - Long labels may not display well on charts.\n\n3. **Choose appropriate chart types**:\n   - **Line**: Trends over time, continuous data\n   - **Bar**: Comparisons between categories\n   - **Pie**: Proportions/percentages of a whole\n   - **Area**: Cumulative or stacked data\n\n4. **Provide context** - Always include a brief explanation before or after the graph tag explaining what the chart shows.\n\n5. **Use consistent colors** - For multiple datasets, use distinct colors that are easily distinguishable.\n\n6. **Validate data** - Ensure:\n   - Labels array length matches data array length\n   - All data values are numbers\n   - Color codes are valid hex format (#RRGGBB)\n\n## Example Complete Response\n\n```\nBased on the activity data, here's a summary of the week:\n\nThe team showed increasing productivity throughout the week, with a peak on Thursday.\n\n<graph type=\"line\">\n{\n  \"title\": \"Daily Active Hours - Team Average\",\n  \"labels\": [\"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\"],\n  \"datasets\": [\n    {\n      \"label\": \"Average Active Hours\",\n      \"data\": [6.2, 6.8, 7.1, 8.3, 7.5],\n      \"color\": \"#3b82f6\"\n    }\n  ],\n  \"options\": {\n    \"xAxisLabel\": \"Day\",\n    \"yAxisLabel\": \"Hours\"\n  }\n}\n</graph>\n\nThe distribution of time across different activities:\n\n<graph type=\"pie\">\n{\n  \"title\": \"Time Distribution\",\n  \"labels\": [\"Coding\", \"Meetings\", \"Documentation\", \"Testing\", \"Other\"],\n  \"datasets\": [\n    {\n      \"label\": \"Hours\",\n      \"data\": [25, 10, 8, 5, 2],\n      \"colors\": [\"#10b981\", \"#3b82f6\", \"#8b5cf6\", \"#f59e0b\", \"#ef4444\"]\n    }\n  ]\n}\n</graph>\n```\n\n## Error Handling\n\nIf you're unsure about the data format or encounter issues:\n- Use plain text tables or lists instead\n- The frontend will gracefully handle malformed graph tags by displaying them as text\n- When in doubt, provide the data in a clear textual format\n\n## Notes\n\n- Graph tags can appear anywhere in your response\n- You can include multiple graphs in a single response\n- Text before and after graph tags will be displayed normally\n- The graph will be rendered inline with the message content"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        208,
        -336
      ],
      "id": "8896ee4f-972f-42bb-b195-c1e3962c31ce",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        -96
      ],
      "id": "c46113bb-1738-432b-9f2a-4dc83382f142",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7j3E2ZH2898qvSib",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        -96
      ],
      "id": "f8609604-0160-4608-bec4-4c5dc0cf5056",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "This tool lets us retrieve the results of the afk_status table inside some date-time range (eg '2025-11-17T00:00:00Z' to '2025-11-18T23:59:59Z').",
        "workflowId": {
          "__rl": true,
          "value": "f29qbnCa9DrMNd3A",
          "mode": "list",
          "cachedResultUrl": "/workflow/f29qbnCa9DrMNd3A",
          "cachedResultName": "Influx api query flux manual"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "=from(bucket: \"screenjournal-metrics-dev\")   |> range(start: {{ $fromAI('date_start', `Start timestamp to pull from`, 'string') }}, stop: {{ $fromAI('date_end', `End timestamp to pull from`, 'string') }})   |> filter(fn: (r) => r[\"_measurement\"] == \"afk_status\")   |> filter(fn: (r) => r[\"account_id\"] == \"{{$json.accountId}}\")   |> pivot(rowKey: [\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        464,
        192
      ],
      "id": "1d73c0c5-eec0-4d93-a981-b617e1655e8a",
      "name": "Get from afk_status table for datetime range"
    },
    {
      "parameters": {
        "description": "This tool lets us retrieve the results of the app_usage table inside some date-time range (eg '2025-11-17T00:00:00Z' to '2025-11-18T23:59:59Z').",
        "workflowId": {
          "__rl": true,
          "value": "f29qbnCa9DrMNd3A",
          "mode": "list",
          "cachedResultUrl": "/workflow/f29qbnCa9DrMNd3A",
          "cachedResultName": "Influx api query flux manual"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "=from(bucket: \"screenjournal-metrics-dev\")   |> range(start: {{ $fromAI('date_start', `Start timestamp to pull from`, 'string') }}, stop: {{ $fromAI('date_end', `End timestamp to pull from`, 'string') }})   |> filter(fn: (r) => r[\"_measurement\"] == \"app_usage\")   |> filter(fn: (r) => r[\"account_id\"] == \"{{$json.accountId}}\")   |> pivot(rowKey: [\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        624,
        192
      ],
      "id": "189202df-0ee3-44a7-bf9e-e6f7df8f4d51",
      "name": "Get from app_usage table for datetime range"
    },
    {
      "parameters": {
        "description": "This tool lets us retrieve the results of the daily_metrics table inside some date-time range (eg '2025-11-17T00:00:00Z' to '2025-11-18T23:59:59Z').",
        "workflowId": {
          "__rl": true,
          "value": "f29qbnCa9DrMNd3A",
          "mode": "list",
          "cachedResultUrl": "/workflow/f29qbnCa9DrMNd3A",
          "cachedResultName": "Influx api query flux manual"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "=from(bucket: \"screenjournal-metrics-dev\")   |> range(start: {{ $fromAI('date_start', `Start timestamp to pull from`, 'string') }}, stop: {{ $fromAI('date_end', `End timestamp to pull from`, 'string') }})   |> filter(fn: (r) => r[\"_measurement\"] == \"daily_metrics\")   |> filter(fn: (r) => r[\"account_id\"] == \"{{$json.accountId}}\")   |> pivot(rowKey: [\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        784,
        192
      ],
      "id": "4f56f65e-be36-4b45-849f-38279d6045f1",
      "name": "Get from daily_metrics table for datetime range"
    },
    {
      "parameters": {
        "description": "This tool lets us retrieve the results of the window_activity table inside some date-time range (eg '2025-11-17T00:00:00Z' to '2025-11-18T23:59:59Z').",
        "workflowId": {
          "__rl": true,
          "value": "f29qbnCa9DrMNd3A",
          "mode": "list",
          "cachedResultUrl": "/workflow/f29qbnCa9DrMNd3A",
          "cachedResultName": "Influx api query flux manual"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "=from(bucket: \"screenjournal-metrics-dev\")   |> range(start: {{ $fromAI('date_start', `Start timestamp to pull from`, 'string') }}, stop: {{ $fromAI('date_end', `End timestamp to pull from`, 'string') }})   |> filter(fn: (r) => r[\"_measurement\"] == \"window_activity\")   |> filter(fn: (r) => r[\"account_id\"] == \"{{$json.accountId}}\")   |> pivot(rowKey: [\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        944,
        192
      ],
      "id": "671eeb39-5c86-4e32-94ff-1240622e25ca",
      "name": "Get from window_activity table for datetime range"
    },
    {
      "parameters": {
        "description": "This tool lets us retrieve the results of the window_activity table for some user (string) and inside some date-time range (eg '2025-11-17T00:00:00Z' to '2025-11-18T23:59:59Z').",
        "workflowId": {
          "__rl": true,
          "value": "f29qbnCa9DrMNd3A",
          "mode": "list",
          "cachedResultUrl": "/workflow/f29qbnCa9DrMNd3A",
          "cachedResultName": "Influx api query flux manual"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "=from(bucket: \"screenjournal-metrics-dev\")   |> range(start: {{ $fromAI('date_start', `Start timestamp to pull from`, 'string') }}, stop: {{ $fromAI('date_end', `End timestamp to pull from`, 'string') }})   |> filter(fn: (r) => r[\"_measurement\"] == \"window_activity\")   |> filter(fn: (r) => r[\"user\"] == \"{{ $fromAI('user', `User to retrieve for`, 'string') }}\")   |> filter(fn: (r) => r[\"account_id\"] == \"{{$json.accountId}}\")   |> pivot(rowKey: [\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        944,
        32
      ],
      "id": "f5ecc54d-ca45-417b-9532-e3193339a90b",
      "name": "Get from window_activity table for user and datetime range"
    },
    {
      "parameters": {
        "description": "This tool lets us retrieve the results of the daily_metrics table for some user (string) and inside some date-time range (eg '2025-11-17T00:00:00Z' to '2025-11-18T23:59:59Z').",
        "workflowId": {
          "__rl": true,
          "value": "f29qbnCa9DrMNd3A",
          "mode": "list",
          "cachedResultUrl": "/workflow/f29qbnCa9DrMNd3A",
          "cachedResultName": "Influx api query flux manual"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "=from(bucket: \"screenjournal-metrics-dev\")   |> range(start: {{ $fromAI('date_start', `Start timestamp to pull from`, 'string') }}, stop: {{ $fromAI('date_end', `End timestamp to pull from`, 'string') }})   |> filter(fn: (r) => r[\"_measurement\"] == \"daily_metrics\")   |> filter(fn: (r) => r[\"user\"] == \"{{ $fromAI('user', `User to retrieve for`, 'string') }}\")   |> filter(fn: (r) => r[\"account_id\"] == \"{{$json.accountId}}\")   |> pivot(rowKey: [\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        784,
        32
      ],
      "id": "0cdbb5a4-a714-469a-90f6-833dfc2b9572",
      "name": "Get from daily_metrics table for user and datetime range"
    },
    {
      "parameters": {
        "description": "This tool lets us retrieve the results of the app_usage table for some user (string) and inside some date-time range (eg '2025-11-17T00:00:00Z' to '2025-11-18T23:59:59Z').",
        "workflowId": {
          "__rl": true,
          "value": "f29qbnCa9DrMNd3A",
          "mode": "list",
          "cachedResultUrl": "/workflow/f29qbnCa9DrMNd3A",
          "cachedResultName": "Influx api query flux manual"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "=from(bucket: \"screenjournal-metrics-dev\")   |> range(start: {{ $fromAI('date_start', `Start timestamp to pull from`, 'string') }}, stop: {{ $fromAI('date_end', `End timestamp to pull from`, 'string') }})   |> filter(fn: (r) => r[\"_measurement\"] == \"app_usage\")   |> filter(fn: (r) => r[\"user\"] == \"{{ $fromAI('user', `User to retrieve for`, 'string') }}\")   |> filter(fn: (r) => r[\"account_id\"] == \"{{$json.accountId}}\")   |> pivot(rowKey: [\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        624,
        32
      ],
      "id": "d0f9363c-b2e3-47b7-b99f-d7087455826a",
      "name": "Get from app_usage table for user and datetime range"
    },
    {
      "parameters": {
        "description": "This tool lets us retrieve the results of the afk_status table for some user (string) and inside some date-time range (eg '2025-11-17T00:00:00Z' to '2025-11-18T23:59:59Z').",
        "workflowId": {
          "__rl": true,
          "value": "f29qbnCa9DrMNd3A",
          "mode": "list",
          "cachedResultUrl": "/workflow/f29qbnCa9DrMNd3A",
          "cachedResultName": "Influx api query flux manual"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "=from(bucket: \"screenjournal-metrics-dev\")   |> range(start: {{ $fromAI('date_start', `Start timestamp to pull from`, 'string') }}, stop: {{ $fromAI('date_end', `End timestamp to pull from`, 'string') }})   |> filter(fn: (r) => r[\"_measurement\"] == \"afk_status\")   |> filter(fn: (r) => r[\"user\"] == \"{{ $fromAI('user', `User to retrieve for`, 'string') }}\")   |> filter(fn: (r) => r[\"account_id\"] == \"{{$json.accountId}}\")   |> pivot(rowKey: [\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        464,
        32
      ],
      "id": "de6c0493-eece-4efe-9eba-8ad942e1fa93",
      "name": "Get from afk_status table for user and datetime range"
    },
    {
      "parameters": {
        "description": "This tool lets us retrieve the results of the window_activity table for some user.",
        "workflowId": {
          "__rl": true,
          "value": "f29qbnCa9DrMNd3A",
          "mode": "list",
          "cachedResultUrl": "/workflow/f29qbnCa9DrMNd3A",
          "cachedResultName": "Influx api query flux manual"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "=from(bucket: \"screenjournal-metrics-dev\")   |> filter(fn: (r) => r[\"_measurement\"] == \"window_activity\")   |> filter(fn: (r) => r[\"user\"] == \"{{ $fromAI('user', `User to retrieve for`, 'string') }}\")   |> filter(fn: (r) => r[\"account_id\"] == \"{{$json.accountId}}\")   |> pivot(rowKey: [\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        944,
        -464
      ],
      "id": "e6266096-cbd5-4262-89a4-87d95cb33324",
      "name": "Get from window_activity table for some user"
    },
    {
      "parameters": {
        "description": "This tool lets us retrieve the results of the daily_metrics table for some user.",
        "workflowId": {
          "__rl": true,
          "value": "f29qbnCa9DrMNd3A",
          "mode": "list",
          "cachedResultUrl": "/workflow/f29qbnCa9DrMNd3A",
          "cachedResultName": "Influx api query flux manual"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "=from(bucket: \"screenjournal-metrics-dev\")   |> filter(fn: (r) => r[\"_measurement\"] == \"daily_metrics\")   |> filter(fn: (r) => r[\"user\"] == \"{{ $fromAI('user', `User to retrieve for`, 'string') }}\")   |> filter(fn: (r) => r[\"account_id\"] == \"{{$json.accountId}}\")   |> pivot(rowKey: [\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        800,
        -464
      ],
      "id": "6474e06d-3640-4697-a9b4-bb11e1ecf734",
      "name": "Get from daily_metrics table for some user"
    },
    {
      "parameters": {
        "description": "This tool lets us retrieve the results of the app_usage table for some user.",
        "workflowId": {
          "__rl": true,
          "value": "f29qbnCa9DrMNd3A",
          "mode": "list",
          "cachedResultUrl": "/workflow/f29qbnCa9DrMNd3A",
          "cachedResultName": "Influx api query flux manual"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "=from(bucket: \"screenjournal-metrics-dev\")   |> filter(fn: (r) => r[\"_measurement\"] == \"app_usage\")   |> filter(fn: (r) => r[\"user\"] == \"{{ $fromAI('user', `User to retrieve for`, 'string') }}\")   |> filter(fn: (r) => r[\"account_id\"] == \"{{$json.accountId}}\")   |> pivot(rowKey: [\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        656,
        -464
      ],
      "id": "5f6512c1-4d6b-4f46-a3c3-0b5f3938e6bf",
      "name": "Get from app_usage table for some user"
    },
    {
      "parameters": {
        "description": "This tool lets us retrieve the results of the afk_status table for some user.",
        "workflowId": {
          "__rl": true,
          "value": "f29qbnCa9DrMNd3A",
          "mode": "list",
          "cachedResultUrl": "/workflow/f29qbnCa9DrMNd3A",
          "cachedResultName": "Influx api query flux manual"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "=from(bucket: \"screenjournal-metrics-dev\")   |> filter(fn: (r) => r[\"_measurement\"] == \"afk_status\")   |> filter(fn: (r) => r[\"user\"] == \"{{ $fromAI('user', `User to retrieve for`, 'string') }}\")   |> filter(fn: (r) => r[\"account_id\"] == \"{{$json.accountId}}\")   |> pivot(rowKey: [\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        496,
        -464
      ],
      "id": "b2a387c2-661a-40e2-9245-e42dbb702569",
      "name": "Get from afk_status table for some user"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bd1ead0-6171-4434-8c12-e8470e30265f",
              "name": "sessionId",
              "value": "={{ $node[\"Input\"].json.sessionId }}",
              "type": "string"
            },
            {
              "id": "9be7060d-2eef-413c-982e-e33ffbe68a83",
              "name": "token",
              "value": "={{ $node[\"Input\"].json.userToken }}",
              "type": "string"
            },
            {
              "id": "f8bd78e2-9e15-42af-b0ed-e82546842077",
              "name": "accountId",
              "value": "={{ $json.data.user.accountId }}",
              "type": "string"
            },
            {
              "id": "55a22cb3-315f-4f6c-853a-5d85305d852f",
              "name": "chatInput",
              "value": "={{ $node[\"Input\"].json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -336
      ],
      "id": "7d4c0817-af6f-432c-90a0-79bbe3e1b1f7",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "What insights would you like on your organisation's productivity?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -368,
        -384
      ],
      "id": "a7d4afab-4b75-47ef-819b-0a131a8a8abf",
      "name": "Input",
      "webhookId": "007487d5-7e96-4c6e-8d0f-de8d57ac4386"
    },
    {
      "parameters": {
        "url": "http://localhost:8080/api/n8n/user-info",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.userToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -384
      ],
      "id": "727a8405-e395-4fea-abc4-92fc6382afb1",
      "name": "data"
    },
    {
      "parameters": {
        "description": "=This tool lets us basically just input whatever Flux query we like to the InfluxDB v2.0 API. This is to be used for cases that we can't satisfy with our other tools, and therefore should only be used if absolutely necessary. If this throws an error, the prompt was incorrect and you will need to try again. We must, for every query, have the line |> filter(fn: (r) => r[\"account_id\"] == \"{{$json.accountId}}\")",
        "workflowId": {
          "__rl": true,
          "value": "f29qbnCa9DrMNd3A",
          "mode": "list",
          "cachedResultUrl": "/workflow/f29qbnCa9DrMNd3A",
          "cachedResultName": "Influx api query flux manual"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `You MUST always use the account ID filter (shown in the tool description) as part of the query.`, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1104,
        -240
      ],
      "id": "b8265104-4496-42f7-8494-732d68fdc1ab",
      "name": "Make any Flux query to InfluxDB database"
    },
    {
      "parameters": {
        "description": "This tool lets us retrieve the results of the screen_timeline table for some user (string) and inside some date-time range (eg '2025-11-17T00:00:00Z' to '2025-11-18T23:59:59Z').",
        "workflowId": {
          "__rl": true,
          "value": "f29qbnCa9DrMNd3A",
          "mode": "list",
          "cachedResultUrl": "/workflow/f29qbnCa9DrMNd3A",
          "cachedResultName": "Influx api query flux manual"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "=from(bucket: \"screenjournal-metrics-dev\")   |> range(start: {{ $fromAI('date_start', `Start timestamp to pull from`, 'string') }}, stop: {{ $fromAI('date_end', `End timestamp to pull from`, 'string') }})   |> filter(fn: (r) => r[\"_measurement\"] == \"screen_timeline\")   |> filter(fn: (r) => r[\"user\"] == \"{{ $fromAI('user', `User to retrieve for`, 'string') }}\")   |> filter(fn: (r) => r[\"account_id\"] == \"{{$json.accountId}}\")   |> pivot(rowKey: [\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1088,
        32
      ],
      "id": "c91d32ad-0302-4741-9505-c4d9d76d225c",
      "name": "Get from screen_timeline table for user and datetime range"
    },
    {
      "parameters": {
        "description": "This tool lets us retrieve the results of the screen_timeline table inside some date-time range (eg '2025-11-17T00:00:00Z' to '2025-11-18T23:59:59Z').",
        "workflowId": {
          "__rl": true,
          "value": "f29qbnCa9DrMNd3A",
          "mode": "list",
          "cachedResultUrl": "/workflow/f29qbnCa9DrMNd3A",
          "cachedResultName": "Influx api query flux manual"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "=from(bucket: \"screenjournal-metrics-dev\")   |> range(start: {{ $fromAI('date_start', `Start timestamp to pull from`, 'string') }}, stop: {{ $fromAI('date_end', `End timestamp to pull from`, 'string') }})   |> filter(fn: (r) => r[\"_measurement\"] == \"screen_timeline\")   |> filter(fn: (r) => r[\"account_id\"] == \"{{$json.accountId}}\")   |> pivot(rowKey: [\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1088,
        192
      ],
      "id": "9e546973-d578-4702-bf3e-b1ed9874dd55",
      "name": "Get from screen_timeline table for datetime range"
    },
    {
      "parameters": {
        "toolDescription": "Generates a productivity report for some period and returns the raw data",
        "method": "POST",
        "url": "http://localhost:8085/api/reports/generate-sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TOKEN"
            },
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountId\": {{ $json.accountId }},\n  \"orgId\": {{ $fromAI('orgId', `ID of org the users are under`, 'number') }},\n  \"org\": \"{{ $fromAI('orgName', `Name of org the users are under`, 'number') }}\",\n  \"users\": {{ $fromAI('users', `Array of users to generate report for. Format: [\n    {\n      \"id\": [id],\n      \"name\": \"[user name]\"\n    }\n  ],`, 'any') }},\n  \"startDate\": \"{{ $fromAI('startDate', `Start date to pull data from. Format YYYY-MM-DD`, 'string') }}\",\n  \"endDate\": \"{{ $fromAI('endDate', `End date to pull data from. Format YYYY-MM-DD`, 'string') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1104,
        -464
      ],
      "id": "43cb6bfa-715a-40a4-beb0-b375ed228e87",
      "name": "Generate general productivity report data"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get from afk_status table for datetime range": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get from app_usage table for datetime range": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get from daily_metrics table for datetime range": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get from window_activity table for datetime range": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get from window_activity table for user and datetime range": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get from daily_metrics table for user and datetime range": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get from app_usage table for user and datetime range": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get from afk_status table for user and datetime range": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get from window_activity table for some user": {
      "ai_tool": [
        []
      ]
    },
    "Get from daily_metrics table for some user": {
      "ai_tool": [
        []
      ]
    },
    "Get from app_usage table for some user": {
      "ai_tool": [
        []
      ]
    },
    "Get from afk_status table for some user": {
      "ai_tool": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make any Flux query to InfluxDB database": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get from screen_timeline table for user and datetime range": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get from screen_timeline table for datetime range": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d5121163-6da6-473e-bfb7-b648ff9c2bcb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d02f1ef03e3a137de5c057bd314cf80ade7dac1a98ce39d68591e092d2c0985c"
  },
  "id": "M8J4Q1oAcgoJCwNx",
  "tags": []
}