bot/Influx api query flux manual.json
{
  "name": "Influx api query flux manual",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8086/api/v2/query?org=matt-org",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token OENrm0rG61Slqi49W_6AGob-0OyC7mvpKW2R6JcBfsHLIP_GNnTppFEURgY0vF1NQopi3Bi2AiADc7p5QrG1pA=="
            },
            {
              "name": "Content-Type",
              "value": "application/vnd.flux"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/vnd.flux",
        "body": "={{ $json.query }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        64
      ],
      "id": "a028adca-a2fb-4ffc-aee0-fb37a5f1c561",
      "name": "http"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        832,
        288
      ],
      "id": "f9e8599f-e3ef-4594-abe0-ad7cad6e3666",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"query\": \"an SQL query string\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        128,
        64
      ],
      "id": "4e472785-98ff-4d3a-bd18-0ae01dc0cdfe",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        96,
        304
      ],
      "id": "4358fcba-5e56-4819-aa33-1b8f97679eb4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "f29qbnCa9DrMNd3A",
          "mode": "list",
          "cachedResultUrl": "/workflow/f29qbnCa9DrMNd3A",
          "cachedResultName": "Influx api query flux manual"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "from(bucket: \"matt-metrics-dev\")   |> range(start: 2025-12-16T00:00:00Z, stop: 2025-12-17T23:59:59Z)   |> filter(fn: (r) => r[\"_measurement\"] == \"window_activity\")   |> filter(fn: (r) => r[\"user\"] == \"Alex\")   |> filter(fn: (r) => r[\"account_id\"] == \"10\")   |> pivot(rowKey: [\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        304,
        304
      ],
      "id": "5429ff40-4c40-475f-9a58-6f4bfbe214d9",
      "name": "Call 'Influx api query flux manual'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f6e8512-6011-43b0-b5ae-82a1146d88ab",
              "name": "key",
              "value": "={{ $json.data.split('\\r\\n')[0] }}",
              "type": "string"
            },
            {
              "id": "58f2280d-de24-42eb-922b-ce573c9faa3a",
              "name": "values",
              "value": "={{ ($json.data.split('\\r\\n')).slice(1)}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        416
      ],
      "id": "8542874c-e50d-4af4-94ce-28e64ff6edac",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        560,
        -128
      ],
      "id": "ca2aaeaf-4828-4755-b860-677c2850018a",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "options": {
          "relaxQuotes": true,
          "skipRecordsWithErrors": {
            "value": {
              "enabled": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        560,
        64
      ],
      "id": "12943591-ad92-47bb-a2d4-634a5a6c1feb",
      "name": "Extract from File",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "http": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "http",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Call 'Influx api query flux manual'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Influx api query flux manual'": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fa42a34e-3349-4d38-b195-52322026f64d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d02f1ef03e3a137de5c057bd314cf80ade7dac1a98ce39d68591e092d2c0985c"
  },
  "id": "f29qbnCa9DrMNd3A",
  "tags": []
}